:root {
    --blue: #007bff;
}

/* Page: 'Backend post index'
   ------------------------------------------------------------------------- */
body#admin_post_index .item-actions {
    white-space: nowrap;
}

body#admin_post_index .item-actions a.btn + a.btn {
    margin-left: 4px;
}

/* Page: 'Backend post show'
   ------------------------------------------------------------------------- */
body#admin_post_show .post-tags .label-default {
    background-color: #e9ecec;
    color: #6d8283;
    font-size: 16px;
    margin-right: 10px;
    padding: 0.4em 1em 0.5em;
}
body#admin_post_show .post-tags .label-default i {
    color: #95a6a7;
}

.form-control {
    border-width: 0.125rem;
}
.form-control:focus {
    color: var(--blue);
    box-shadow: none;
}
